.error-indicator {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c78f22;

    img {
        margin-bottom: 1rem;
    }

    .boom {
        font-size: 1.7rem;
    }
}
