.store-header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1rem;

  .logo {
    font-family: "Playfair Display", Georgia, serif;
    font-size: 2.5rem;
    padding-left: 1rem;
  }

  .shopping-cart {
    align-self: center;
    font-size: 1.3rem;

    .cart-icon {
      font-size: 2.2rem;
      color: cadetblue;
      margin-right: 10px;
    }
  }
}